Repository t1mmen/srtd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

source_env:
  - ~/.zshrc
  - ~/.nvm/nvm.sh

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          ./node_modules/.bin/biome format --write {staged_files}
          git add {staged_files}
        fi
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          ./node_modules/.bin/biome lint {staged_files}
        fi

chore: add changeset and fix linting issues
  .changeset/db-connection-fixes.md
  src/__tests__/helpers/TestResource.ts
  src/lib/templateManager.test.ts
  src/utils/databaseConnection.ts
Due: format, lint

fix: address linting issues
  src/__tests__/helpers/TestResource.ts
  src/lib/templateManager.test.ts
Due: format, lint

fix: typescript errors
  .changeset/db-connection-fixes.md
  .changeset/typescript-errors.md
  package-lock.json
  src/__tests__/helpers/TestResource.ts
  src/lib/templateManager.test.ts
Due: format, lint

feat: add e2e tests for CLI
  .changeset/big-ads-clean.md
  README.md
  package.json
  src/__tests__/e2e/cli.test.ts
  src/__tests__/e2e/integration.test.ts
  src/__tests__/e2e/interactive.test.ts
  src/cli.tsx
Due: format, lint

test: Improve test stability with TestResource class (#32)
  .changeset/big-ads-clean.md
  .gitignore
  README.md
  biome.json
  lefthook.yml
  package-lock.json
  package.json
  src/__tests__/apply.test.tsx
  src/__tests__/build.test.tsx
  src/__tests__/e2e/cli.test.ts
  src/__tests__/e2e/integration.test.ts
  src/__tests__/e2e/interactive.test.ts
  src/__tests__/helpers/TestResource.ts
  src/__tests__/helpers/index.ts
  src/__tests__/vitest.setup.ts
  src/cli.tsx
  src/components/ProcessingResults.test.tsx
  src/components/Quittable.test.tsx
  src/hooks/useDatabaseConnection.test.ts
  src/hooks/useTemplateProcessor.test.ts
  src/lib/templateManager.test.ts
  src/lib/templateManager.ts
  src/utils/calculateMD5.test.ts
  src/utils/config.test.ts
  src/utils/config.ts
  src/utils/createEmptyBuildLog.test.ts
  src/utils/databaseConnection.ts
  src/utils/ensureDirectories.test.ts
  src/utils/findProjectRoot.test.ts
  src/utils/getNextTimestamp.test.ts
  src/utils/isWipTemplate.test.ts
  src/utils/loadBuildLog.test.ts
  src/utils/logger.test.ts
  src/utils/registerTemplate.test.ts
  src/utils/safeCreate.test.ts
  src/utils/safeCreate.ts
  src/utils/saveBuildLog.test.ts
  vitest.config.ts
Due: format, lint

dep updates, fix lint
  package-lock.json
  src/lib/templateManager.ts
Due: format, lint

fix reference to force arg
  src/lib/templateManager.ts
Due: format, lint

fix: reference to apply arg
  src/commands/build.tsx
Due: format, lint

feat: Add --bundle option to build command (#30)
  .changeset/new-feature.md
  README.md
  package-lock.json
  src/__tests__/build.test.tsx
  src/commands/build.tsx
  src/hooks/useTemplateProcessor.ts
  src/lib/templateManager.ts
Due: format, lint

Update README.md
  README.md
Due: none

blocked: need React 19 support in dependencies
  .changeset/shaggy-singers-kneel.md
  .npmrc
  package-lock.json
  package.json
Due: format

feat: add DeepGuide configuration for interactive CLI demos
  .dg/.gitignore
  .dg/README.md
  .dg/config.json
  .github/workflows/dg-validate.yml
Due: format

fix: normalize line endings before hashing template files
  .changeset/hungry-comics-pull.md
  README.md
  src/utils/calculateMD5.ts
Due: format, lint

ci: add automatic snapshot pre-releases to @next
  .github/workflows/ci.yml
Due: none

fix: pin Biome version and improve snapshot workflow
  .github/workflows/ci.yml
Due: none

ci: add automatic snapshot pre-releases to @next (#43)
  .github/workflows/ci.yml
Due: none

feat: implement FileSystemService for decoupled file operations (task 2)
  .taskmaster/tasks/tasks.json
  src/lib/templateManager.ts
  src/services/FileSystemService.ts
  src/services/__tests__/FileSystemService.test.ts
Due: format, lint

feat: integrate StateService into TemplateManager for centralized state management
  .taskmaster/tasks/tasks.json
  src/lib/templateManager.ts
Due: format, lint

feat: implement Terminal-Kit UI abstraction layer and core components
  .gitignore
  .mcp.json
  .taskmaster/config.json
  .taskmaster/docs/prd.txt
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  biome.json
  demo.tape
  docs/ink-react-migration-analysis.md
  package-lock.json
  package.json
  src/components/Branding.ts
  src/components/ProcessingResults.ts
  src/components/StatBadge.ts
  src/lib/tui/AbstractComponent.ts
  src/lib/tui/TerminalApp.ts
  src/lib/tui/components/Box.ts
  src/lib/tui/components/ProgressBar.ts
  src/lib/tui/components/Select.ts
  src/lib/tui/components/Spinner.ts
  src/lib/tui/components/Text.ts
  src/lib/tui/components/index.ts
  src/lib/tui/hooks.ts
  src/lib/tui/index.ts
Due: format, lint

feat: add comprehensive StateService unit tests and fixes
  .taskmaster/tasks/tasks.json
  src/services/StateService.ts
  src/services/__tests__/StateService.test.ts
Due: format, lint

feat: implement StateService for centralized state management (task 3 - partial)
  .taskmaster/tasks/tasks.json
  src/services/StateService.ts
Due: format, lint

feat: implement MigrationBuilder service with comprehensive testing
  src/services/MigrationBuilder.ts
  src/services/__tests__/MigrationBuilder.test.ts
Due: format, lint

feat: implement DatabaseService with comprehensive error handling and testing
  src/services/DatabaseService.ts
  src/services/__tests__/DatabaseService.test.ts
Due: format, lint

test: simplify command test mocks to fix terminal-kit import issues
  src/__tests__/apply.test.tsx
  src/__tests__/build.test.tsx
  src/__tests__/clear.test.tsx
  src/__tests__/init.test.tsx
  src/__tests__/promote.test.tsx
  src/__tests__/register.test.tsx
Due: format, lint

feat: implement Orchestrator service for unidirectional data flow coordination
  .taskmaster/tasks/tasks.json
  src/services/Orchestrator.ts
  src/services/__tests__/MigrationBuilder.test.ts
  src/services/__tests__/Orchestrator.test.ts
Due: format, lint

fix: resolve biome lint warnings
  biome.json
  src/commands/watch.ts
  src/services/DatabaseService.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/ui/branding.ts
Due: format, lint

test: simplify command test mocks to fix terminal-kit import issues
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/watch.test.ts
  src/cli.test.ts
  src/commands/menu.test.ts
  src/services/__tests__/DatabaseService.test.ts
  src/ui/branding.test.ts
  src/ui/results.test.ts
  src/utils/logger.test.ts
Due: format, lint

fix: finalize async disposal and test patterns
  readme-demo.gif
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/helpers/testUtils.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/watch.test.ts
  src/cli.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/clear.ts
  src/commands/menu.test.ts
  src/commands/promote.ts
  src/commands/register.ts
  src/commands/watch.ts
  src/services/Orchestrator.ts
  src/services/__tests__/DatabaseService.test.ts
  src/ui/branding.test.ts
  src/ui/results.test.ts
  src/utils/logger.test.ts
  test-report.junit.xml
Due: format, lint

chore: consolidate changesets and rename to minor release
  .changeset/big-ads-clean.md
  .changeset/drop-ink-rewrite.md
  .changeset/new-feature.md
  .changeset/srtd-1.0-rewrite.md
Due: none

fix: make test script exit after completion
  package.json
Due: format

fix(ci): force clean npm cache to resolve rollup platform deps
  .github/workflows/ci.yml
Due: none

fix(ci): disable npm cache to fix rollup platform deps
  .github/workflows/ci.yml
Due: none

cleanup: various llm artifacts
  .clinerules/cline_rules.md
  .clinerules/dev_workflow.md
  .clinerules/self_improve.md
  .clinerules/taskmaster.md
  .gemini/settings.json
  .kiro/hooks/tm-code-change-task-tracker.kiro.hook
  .kiro/hooks/tm-complexity-analyzer.kiro.hook
  .kiro/hooks/tm-daily-standup-assistant.kiro.hook
  .kiro/hooks/tm-git-commit-task-linker.kiro.hook
  .kiro/hooks/tm-pr-readiness-checker.kiro.hook
  .kiro/hooks/tm-task-dependency-auto-progression.kiro.hook
  .kiro/hooks/tm-test-success-task-completer.kiro.hook
  .kiro/settings/mcp.json
  .kiro/steering/dev_workflow.md
  .kiro/steering/kiro_rules.md
  .kiro/steering/self_improve.md
  .kiro/steering/taskmaster.md
  .kiro/steering/taskmaster_hooks_workflow.md
  .roo/mcp.json
  .roo/rules-architect/architect-rules
  .roo/rules-ask/ask-rules
  .roo/rules-code/code-rules
  .roo/rules-debug/debug-rules
  .roo/rules-orchestrator/orchestrator-rules
  .roo/rules-test/test-rules
  .roo/rules/dev_workflow.md
  .roo/rules/roo_rules.md
  .roo/rules/self_improve.md
  .roo/rules/taskmaster.md
  .roomodes
  .trae/rules/dev_workflow.md
  .trae/rules/self_improve.md
  .trae/rules/taskmaster.md
  .trae/rules/trae_rules.md
  .windsurf/mcp.json
  .windsurf/rules/dev_workflow.md
  .windsurf/rules/self_improve.md
  .windsurf/rules/taskmaster.md
  .windsurf/rules/windsurf_rules.md
  .zed/settings.json
Due: format

fix(ci): delete package-lock.json before install to fix platform deps
  .github/workflows/ci.yml
Due: none

cleanup: various llm artifacts
  .github/instructions/dev_workflow.instructions.md
  .github/instructions/self_improve.instructions.md
  .github/instructions/taskmaster.instructions.md
  .github/instructions/vscode_rules.instructions.md
  .vscode/mcp.json
  AGENT.md
  GEMINI.md
  MANUAL_TESTING_GUIDE.md
  docs/GITHUB_ACTIONS_DATABASE_TESTING.md
  docs/ink-react-migration-analysis.md
  prd.md
Due: format

fix(ci): use different port for database-testing workflow to avoid conflicts
  .github/workflows/database-testing.yml
Due: none
