Repository t1mmen/srtd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

source_env:
  - ~/.zshrc
  - ~/.nvm/nvm.sh

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          ./node_modules/.bin/biome format --write {staged_files}
          git add {staged_files}
        fi
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          # First try to fix errors automatically
          ./node_modules/.bin/biome check --write {staged_files}
          # If there are still unsafe fixes available, apply them if requested
          if [ "$APPLY_UNSAFE_FIXES" = "true" ]; then
            ./node_modules/.bin/biome check --write --unsafe {staged_files}
          fi
          # Add fixed files back to staging
          git add {staged_files}
        fi

fix: improve credential redaction and add typed event tests
  .changeset/validate-buildlog-schema.md
  src/__tests__/e2e/database.test.ts
  src/services/__tests__/Orchestrator.test.ts
Due: format, lint

feat: upgrade vitest to 4.x with codecov optimizations
  package-lock.json
  package.json
  src/services/__tests__/DatabaseService.test.ts
  src/utils/getNextTimestamp.test.ts
  vitest.config.e2e.ts
  vitest.config.ts
Due: format, lint

fix: suppress CLI stdout in tests and add verbose e2e reporter
  src/__tests__/e2e/interactive.test.ts
  src/__tests__/helpers/testUtils.ts
  src/__tests__/vitest.setup.ts
  src/cli.test.ts
  src/cli.ts
  test-report.junit.xml
  vitest.config.e2e.ts
Due: format, lint

fix: allow WIP templates to be applied to local database
  src/services/Orchestrator.ts
Due: format, lint

test: fix WIP template e2e tests to match correct behavior
  src/__tests__/e2e/database.test.ts
Due: format, lint

docs: update changesets for factual accuracy
  .changeset/fix-config-consistency.md
  .changeset/fix-non-interactive-flag.md
  .changeset/validate-buildlog-schema.md
Due: none

fix: critical bug fixes with pure function refactoring (#53)
  .changeset/fix-config-consistency.md
  .changeset/fix-non-interactive-flag.md
  .github/workflows/ci.yml
  biome.json
  package-lock.json
  package.json
  src/__tests__/e2e/database.test.ts
  src/__tests__/e2e/integration.test.ts
  src/__tests__/e2e/interactive.test.ts
  src/__tests__/helpers/TestResource.ts
  src/__tests__/helpers/index.ts
  src/__tests__/helpers/testUtils.ts
  src/__tests__/vitest.setup.ts
  src/cli.test.ts
  src/cli.ts
  src/commands/init.ts
  src/constants.ts
  src/services/DatabaseService.ts
  src/services/FileSystemService.ts
  src/services/MigrationBuilder.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/services/__tests__/DatabaseService.test.ts
  src/services/__tests__/FileSystemService.test.ts
  src/services/__tests__/MigrationBuilder.test.ts
  src/services/__tests__/Orchestrator.test.ts
  src/services/__tests__/integration.test.ts
  src/ui/index.ts
  src/utils/config.test.ts
  src/utils/config.ts
  src/utils/ensureDirectories.ts
  src/utils/getNextTimestamp.test.ts
  src/utils/getNextTimestamp.ts
  src/utils/isWipTemplate.test.ts
  src/utils/isWipTemplate.ts
  src/utils/logger.ts
  supabase/config.toml
  test-report.junit.xml
  vitest.config.e2e.ts
  vitest.config.ts
Due: format, lint

chore: fix 12 Dependabot security vulnerabilities
  .changeset/fix-dependabot-security.md
  package-lock.json
  package.json
Due: format

feat(ui): add formatPath utility for smart path truncation
  src/utils/formatPath.test.ts
  src/utils/formatPath.ts
Due: format, lint

feat(ui): add formatTime utility for relative and timestamp formatting
  src/utils/formatTime.test.ts
  src/utils/formatTime.ts
Due: format, lint

feat(ui): add renderHeader with grouped sections and context
  src/ui/header.test.ts
  src/ui/header.ts
  src/ui/index.ts
Due: format, lint

feat(ui): add renderResultsTable with aligned columns and compact unchanged
  src/ui/index.ts
  src/ui/resultsTable.test.ts
  src/ui/resultsTable.ts
Due: format, lint

feat(ui): add renderErrorDisplay with SQL context and caret positioning
  src/ui/constants.ts
  src/ui/errorDisplay.test.ts
  src/ui/errorDisplay.ts
  src/ui/header.ts
  src/ui/index.ts
Due: format, lint

feat(ui): add renderWatchLogEntry with activity log formatting
  src/ui/constants.ts
  src/ui/errorContext.test.ts
  src/ui/errorContext.ts
  src/ui/errorDisplay.ts
  src/ui/index.test.ts
  src/ui/index.ts
  src/ui/watchLog.test.ts
  src/ui/watchLog.ts
Due: format, lint

feat(ui): add renderWatchFooter with keyboard shortcut hints
  src/ui/index.test.ts
  src/ui/index.ts
  src/ui/watchFooter.test.ts
  src/ui/watchFooter.ts
Due: format, lint

feat(ui): integrate new UI components into build command
  src/__tests__/build.test.ts
  src/__tests__/helpers/testUtils.ts
  src/commands/build.ts
  src/ui/index.ts
Due: format, lint

feat(ui): integrate new UI components into apply command
  src/__tests__/apply.test.ts
  src/commands/apply.ts
Due: format, lint

feat(ui): integrate new UI components into watch command
  src/__tests__/helpers/testUtils.ts
  src/__tests__/watch.test.ts
  src/commands/watch.ts
Due: format, lint

chore: add changeset for UI refresh
  .changeset/ui-refresh.md
Due: none

feat(ui): improve results display with arrow format and error handling
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/helpers/testUtils.ts
  src/__tests__/watch.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/menu.ts
  src/commands/watch.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/ui/branding.test.ts
  src/ui/branding.ts
  src/ui/errorDisplay.test.ts
  src/ui/errorDisplay.ts
  src/ui/header.test.ts
  src/ui/header.ts
  src/ui/index.ts
  src/ui/resultsTable.test.ts
  src/ui/resultsTable.ts
  src/ui/watchLog.test.ts
  src/ui/watchLog.ts
  src/utils/formatTime.ts
Due: format, lint

wip(ui): unified types and renderer for build/apply commands
  UI_REFRESH_PLAN.md
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/ui/index.ts
  src/ui/resultsTable.test.ts
  src/ui/resultsTable.ts
  src/ui/types.ts
  src/ui/watchLog.test.ts
  src/utils/formatTime.test.ts
  src/utils/formatTime.ts
Due: format, lint

feat(watch): overhaul watch mode with historic activity and build action
  src/__tests__/watch.test.ts
  src/commands/watch.ts
  src/ui/watchFooter.test.ts
  src/ui/watchFooter.ts
Due: format, lint

feat(ui): add 'built' status and buildOutdated field to types
  src/ui/types.ts
Due: format, lint

feat(ui): render 'built' status with arrow and build outdated annotation
  src/ui/resultsTable.test.ts
  src/ui/resultsTable.ts
Due: format, lint

refactor(watch): replace pendingBuild Set with needsBuild Map
  src/commands/watch.ts
Due: format, lint

feat(watch): add getBuildReason helper and buildOutdated tracking
  src/commands/watch.ts
Due: format, lint

chore(watch): remove dead eventTypeToStatus function
  src/commands/watch.ts
Due: format, lint

feat(watch): rewrite triggerBuild for proper build state tracking
  src/commands/watch.ts
Due: format, lint

refactor(watch): extract refreshNeedsBuild helper to eliminate DRY violation
  src/commands/watch.ts
Due: format, lint

test(watch): update tests for needsBuild Map interface
  src/__tests__/watch.test.ts
Due: format, lint

refactor(ui): tech debt cleanup and log ordering fix
  src/commands/watch.ts
  src/ui/index.ts
  src/ui/resultsTable.ts
  src/ui/types.ts
Due: format, lint

feat(ui): consistent status messages and log ordering
  src/__tests__/helpers/testUtils.ts
  src/commands/clear.ts
  src/commands/init.ts
  src/commands/promote.ts
  src/commands/register.ts
  src/commands/watch.ts
  src/ui/errorContext.ts
  src/ui/finalStatus.ts
  src/ui/index.test.ts
  src/ui/index.ts
  src/ui/resultsTable.test.ts
  src/ui/resultsTable.ts
  src/ui/watchLog.test.ts
  src/ui/watchLog.ts
Due: format, lint

fix(watch): correct template count grammar and remove destination
  src/__tests__/watch.test.ts
  src/commands/watch.ts
Due: format, lint

feat(demo): add realistic SQL templates for demo video
  demo-templates/srtd_demo_audit.sql
  demo-templates/srtd_demo_greet.sql
  demo-templates/srtd_demo_rls.sql
  readme-demo.tape
  scripts/record_demo.sh
Due: none

fix(demo): simplify echo command to avoid VHS parser issues
  readme-demo.tape
Due: none

fix(demo): ensure clean state and self-contained templates
  demo-templates/srtd_demo_rls.sql
  readme-demo.tape
  scripts/record_demo.sh
Due: none

refactor(demo): use git for state management instead of manual backup
  scripts/record_demo.sh
Due: none

chore(demo): regenerate demo GIF with clean state
  readme-demo.gif
Due: none

refactor(demo): simplify flow, remove change-detection sequence
  readme-demo.gif
  readme-demo.tape
Due: none

fix(ui): WIP template display and build log ordering
  readme-demo.gif
  src/__tests__/build.test.ts
  src/commands/build.ts
  src/ui/resultsTable.test.ts
  src/ui/resultsTable.ts
  src/ui/types.ts
Due: format, lint
