Repository t1mmen/srtd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

source_env:
  - ~/.zshrc
  - ~/.nvm/nvm.sh

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          ./node_modules/.bin/biome format --write {staged_files}
          git add {staged_files}
        fi
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          # First try to fix errors automatically
          ./node_modules/.bin/biome check --write {staged_files}
          # If there are still unsafe fixes available, apply them if requested
          if [ "$APPLY_UNSAFE_FIXES" = "true" ]; then
            ./node_modules/.bin/biome check --write --unsafe {staged_files}
          fi
          # Add fixed files back to staging
          git add {staged_files}
        fi

fix(ci): use port 54399 to avoid all supabase port conflicts
  .github/workflows/database-testing.yml
  .vscode/settings.json
Due: format

chore: remove experimental database-testing workflow
  .github/workflows/database-testing.yml
Due: none

fix(ci): properly handle rollup platform deps + remove LLM artifacts
  .github/workflows/ci.yml
  .gitignore
  .rules
  AGENTS.md
  CLAUDE.md
  demo.tape
  opencode.json
  package-lock.json
  package.json
Due: format

fix(ci): use file-based changeset detection for @next snapshots
  .github/workflows/ci.yml
Due: none

chore(deps): update dependencies to latest versions
  biome.json
  package-lock.json
  package.json
  src/__tests__/helpers/TestResource.ts
  src/services/Orchestrator.ts
  src/services/__tests__/FileSystemService.test.ts
  src/services/__tests__/integration.test.ts
  src/ui/index.ts
Due: format, lint

fix(ci): use biome from package.json instead of hardcoded version
  .github/workflows/ci.yml
Due: none

chore(ci): update codecov actions to v5
  .github/workflows/ci.yml
Due: none

fix(test): remove command name from parseAsync calls for Commander v14
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/init.test.ts
  src/__tests__/watch.test.ts
Due: format, lint

fix(test): capture stderr to catch Commander parse errors
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/helpers/testUtils.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/watch.test.ts
Due: format, lint

chore(deps): update dependencies to latest versions (#45)
  .github/workflows/ci.yml
  biome.json
  package-lock.json
  package.json
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/helpers/TestResource.ts
  src/__tests__/helpers/testUtils.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/watch.test.ts
  src/services/Orchestrator.ts
  src/services/__tests__/FileSystemService.test.ts
  src/services/__tests__/integration.test.ts
  src/ui/index.ts
Due: format, lint

docs: add CLAUDE.md and SRTD development skill
  .claude/skills/srtd/SKILL.md
  CLAUDE.md
  package-lock.json
  package.json
Due: format

docs: add user-facing srtd-cli skill, rename dev skill
  .claude/skills/srtd-cli/SKILL.md
  .claude/skills/srtd-dev/SKILL.md
  CLAUDE.md
Due: none

docs: rewrite README with clearer value proposition
  README.md
Due: none

fix: normalize line endings before hash calculation
  .changeset/normalize-line-endings.md
  src/services/FileSystemService.ts
  src/services/__tests__/FileSystemService.test.ts
Due: format, lint

fix: normalize line endings before hash calculation (#47)
  .changeset/normalize-line-endings.md
  src/services/FileSystemService.ts
  src/services/__tests__/FileSystemService.test.ts
Due: format, lint

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

ci: add Claude Code GitHub workflow (#49)
  .github/workflows/claude.yml
Due: none

ci: add secure Claude Code workflow with code review skill
  .claude/skills/requesting-code-review/SKILL.md
  .claude/skills/requesting-code-review/code-reviewer.md
  .github/workflows/claude.yml
Due: none

ci: secure Claude Code workflow with skills and code review
  .claude/skills/requesting-code-review/SKILL.md
  .claude/skills/requesting-code-review/code-reviewer.md
  .claude/skills/srtd-cli/SKILL.md
  .claude/skills/srtd-dev/SKILL.md
  .github/workflows/claude.yml
  CLAUDE.md
Due: none

fix: simplify prompt to use CLAUDE.md read + fix timestamp in audit
  .github/workflows/claude.yml
Due: none

ci: secure Claude Code workflow with skills and code review (#51)
  .claude/skills/requesting-code-review/SKILL.md
  .claude/skills/requesting-code-review/code-reviewer.md
  .claude/skills/srtd-cli/SKILL.md
  .claude/skills/srtd-dev/SKILL.md
  .github/workflows/claude.yml
  CLAUDE.md
Due: none

fix: add path traversal validation and improve README
  README.md
  src/services/MigrationBuilder.ts
  src/services/__tests__/MigrationBuilder.test.ts
  src/utils/interpolateMigrationFilename.ts
Due: format, lint

docs: add migrationFilename examples and broaden Postgres focus
  README.md
Due: none

refactor: use path.relative() for robust path traversal detection
  src/services/MigrationBuilder.ts
Due: format, lint

feat: add customizable migration filename templates
  .changeset/custom-migration-paths.md
  src/services/MigrationBuilder.ts
  src/services/__tests__/MigrationBuilder.test.ts
  src/types.ts
  src/utils/__tests__/interpolateMigrationFilename.test.ts
  src/utils/config.ts
  src/utils/interpolateMigrationFilename.ts
Due: format, lint

feat: add customizable migration filename templates (#48)
  .changeset/custom-migration-paths.md
  README.md
  src/services/MigrationBuilder.ts
  src/services/__tests__/MigrationBuilder.test.ts
  src/types.ts
  src/utils/__tests__/interpolateMigrationFilename.test.ts
  src/utils/config.ts
  src/utils/interpolateMigrationFilename.ts
Due: format, lint

fix: validate build log and config files, warn on corruption
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/watch.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/services/__tests__/StateService.test.ts
  src/ui/__tests__/displayWarnings.test.ts
  src/ui/displayWarnings.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.ts
  src/utils/schemas.test.ts
  src/utils/schemas.ts
Due: format, lint

refactor: consolidate validation warnings and derive types from Zod
  .changeset/validate-buildlog-schema.md
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/vitest.setup.ts
  src/__tests__/watch.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/clear.ts
  src/commands/init.ts
  src/commands/promote.ts
  src/commands/register.ts
  src/commands/watch.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/services/__tests__/StateService.test.ts
  src/types.ts
  src/ui/__tests__/displayWarnings.test.ts
  src/ui/displayWarnings.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.test.ts
  src/utils/config.ts
  src/utils/ensureDirectories.ts
  src/utils/isWipTemplate.ts
  src/utils/schemas.test.ts
  src/utils/schemas.ts
Due: format, lint

fix: return errorType explicitly from validation instead of inferring
  src/services/StateService.ts
  src/utils/schemas.ts
Due: format, lint

fix: validate build log and config files, warn on corruption (#52)
  .changeset/validate-buildlog-schema.md
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/vitest.setup.ts
  src/__tests__/watch.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/clear.ts
  src/commands/init.ts
  src/commands/promote.ts
  src/commands/register.ts
  src/commands/watch.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/services/__tests__/StateService.test.ts
  src/types.ts
  src/ui/__tests__/displayWarnings.test.ts
  src/ui/displayWarnings.ts
  src/utils/__tests__/config.test.ts
  src/utils/config.test.ts
  src/utils/config.ts
  src/utils/ensureDirectories.ts
  src/utils/isWipTemplate.ts
  src/utils/schemas.test.ts
  src/utils/schemas.ts
Due: format, lint

fix: correct menu command invocation to not include command name
  .changeset/fix-menu-command-args.md
  src/commands/menu.test.ts
  src/commands/menu.ts
Due: format, lint

fix: correct menu command invocation to not include command name (#54)
  .changeset/fix-menu-command-args.md
  src/commands/menu.test.ts
  src/commands/menu.ts
Due: format, lint

fix: add JUnit reporter for CI and cleanup minor issues
  src/__tests__/helpers/TestResource.ts
  src/services/__tests__/MigrationBuilder.test.ts
  vitest.config.ts
Due: format, lint

ci: include all tests in codecov coverage analysis
  .github/workflows/ci.yml
  package.json
  vitest.config.e2e.ts
  vitest.config.ts
Due: format, lint

ci: add database e2e tests to CI pipeline
  .changeset/fix-config-consistency.md
  .github/workflows/ci.yml
Due: none

fix: improve test reliability and code quality
  biome.json
  package.json
  src/__tests__/e2e/database.test.ts
  src/__tests__/e2e/integration.test.ts
  src/__tests__/e2e/interactive.test.ts
  src/__tests__/vitest.setup.ts
  src/cli.ts
  src/constants.ts
  src/services/MigrationBuilder.ts
  src/services/Orchestrator.ts
  src/services/__tests__/MigrationBuilder.test.ts
  src/services/__tests__/integration.test.ts
  src/utils/config.test.ts
  src/utils/config.ts
  src/utils/getNextTimestamp.test.ts
  src/utils/getNextTimestamp.ts
  vitest.config.e2e.ts
  vitest.config.ts
Due: format, lint

fix: resolve config inconsistencies and lint issues
  src/__tests__/e2e/database.test.ts
  src/services/MigrationBuilder.ts
  src/services/Orchestrator.ts
  src/utils/isWipTemplate.test.ts
  src/utils/isWipTemplate.ts
  supabase/config.toml
Due: format, lint

chore: remove unused code identified by knip
  package.json
  src/__tests__/helpers/index.ts
  src/services/DatabaseService.ts
  src/services/Orchestrator.ts
  src/services/StateService.ts
  src/ui/index.ts
  src/utils/logger.ts
Due: format, lint

refactor: remove hidden config dependencies in utility functions
  src/__tests__/helpers/TestResource.ts
  src/commands/init.ts
  src/services/FileSystemService.ts
  src/services/__tests__/FileSystemService.test.ts
  src/utils/ensureDirectories.ts
Due: format, lint
