Repository t1mmen/srtd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

lefthook.yml:

source_env:
  - ~/.zshrc
  - ~/.nvm/nvm.sh

pre-commit:
  parallel: false
  commands:
    format:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          ./node_modules/.bin/biome format --write {staged_files}
          git add {staged_files}
        fi
    lint:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}"
      run: |
        . ~/.nvm/nvm.sh
        if [ -f ".nvmrc" ]; then
          nvm use
          ./node_modules/.bin/biome lint {staged_files}
        fi

fix: Give changesets proper permission
  .github/workflows/ci.yml
Due: none

fix: Changesets
  .github/workflows/ci.yml
Due: none

chore: update readme
  README.md
Due: none

fix: biome error after changeset pr
  .changeset/unlucky-singers-relate.md
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  biome.json
Due: format

fix: add scope to npm publish
  .changeset/big-houses-try.md
  package.json
Due: format

chore: improve package.json details, use repomix better
  .changeset/weak-knives-retire.md
  .gitignore
  .repomixignore
  .vscode/settings.json
  package.json
  repomix.config.json
Due: format

chore: Add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: repo configuration, gitignore, npmignore
  .changeset/silver-cheetahs-dance.md
  .gitignore
  .npmignore
Due: none

chore: Fix some README issues
  .changeset/little-candles-give.md
  README.md
  package.json
Due: format

Cleanup logger in templateManager
  README.md
  src/lib/templateManager.ts
  src/utils/logger.ts
Due: format, lint

Rename
  src/lib/templateManager.ts
  src/types.ts
Due: format, lint

Support forcibly building templates, irrespective of current build status.
  .changeset/shiny-mangos-shave.md
  package.json
  repomix.config.json
  src/commands/build.tsx
  src/commands/help.tsx
  src/commands/index.tsx
Due: format, lint

Support forcibly applying templates directly to local db, irrespective of apply state
  .changeset/thin-singers-wink.md
  src/commands/apply.tsx
  src/commands/build.tsx
  src/commands/index.tsx
Due: format, lint

Support customizing migration filename prefix
  .changeset/red-balloons-notice.md
  README.md
  src/lib/templateManager.ts
  src/types.ts
  src/utils/config.ts
Due: format, lint

(somewhat) better handling of db being unavailable
  .changeset/rare-squids-grow.md
  src/commands/_app.tsx
  src/commands/index.tsx
  src/commands/watch.tsx
  src/components/Quittable.tsx
  src/hooks/useDbConnection.ts
  src/utils/databaseConnection.ts
  src/utils/executeCommand.ts
Due: format, lint

Use same timeout delay
  src/hooks/useDbConnection.ts
  src/utils/databaseConnection.ts
Due: format, lint

Add update notifier
  .changeset/moody-scissors-pay.md
  package-lock.json
  package.json
  src/cli.tsx
  src/commands/_app.tsx
  src/commands/index.tsx
  src/commands/register.tsx
  src/commands/watch.tsx
Due: format, lint

Some better UI state across a few commands
  scripts/fake_migration_files.sh
  src/commands/_app.tsx
  src/commands/index.tsx
  src/commands/register.tsx
  src/commands/watch.tsx
  src/components/Branding.tsx
  src/components/Quittable.tsx
  src/lib/templateManager.ts
Due: format, lint

Db connection state in non-UI driven flows
  src/commands/_app.tsx
  src/commands/index.tsx
  src/commands/watch.tsx
  src/components/Branding.tsx
  src/hooks/useDatabaseConnection.ts
  src/lib/templateManager.ts
  src/utils/databaseConnection.ts
Due: format, lint

Update README
  .github/workflows/conventional-commits.yml
  README.md
Due: none

Various badges, minor CI improvements
  .github/workflows/ci.yml
  README.md
Due: none

Shortcuts for supabase
  package.json
Due: format

CodeCov test coverage tracking
  .github/workflows/ci.yml
  README.md
  vitest.config.ts
Due: format, lint

Maybe fix test report
  package.json
  vitest.config.ts
Due: format, lint

Add token to CodeCov badge
  README.md
Due: none

Update src/utils/executeCommand.ts
  src/utils/executeCommand.ts
Due: format, lint

Remove unused util
  src/utils/executeCommand.ts
Due: format, lint

Reference to blog post
  README.md
  package.json
Due: format

chore: Misc polish (#10)
  .changeset/moody-scissors-pay.md
  .changeset/rare-squids-grow.md
  .changeset/red-balloons-notice.md
  .changeset/shiny-mangos-shave.md
  .changeset/thin-singers-wink.md
  .github/workflows/ci.yml
  .github/workflows/conventional-commits.yml
  README.md
  package-lock.json
  package.json
  repomix.config.json
  scripts/fake_migration_files.sh
  src/cli.tsx
  src/commands/_app.tsx
  src/commands/apply.tsx
  src/commands/build.tsx
  src/commands/help.tsx
  src/commands/index.tsx
  src/commands/register.tsx
  src/commands/watch.tsx
  src/components/Branding.tsx
  src/components/Quittable.tsx
  src/hooks/useDatabaseConnection.ts
  src/lib/templateManager.ts
  src/types.ts
  src/utils/config.ts
  src/utils/databaseConnection.ts
  src/utils/logger.ts
Due: format, lint

Don't disable menu when connected :facepalm:
  .changeset/funny-lemons-clean.md
  src/commands/index.tsx
Due: format, lint

Improve reliability of `q` to quit
  .changeset/yellow-moles-explode.md
  src/commands/index.tsx
  src/components/Quittable.tsx
Due: format, lint

Release
  .changeset/fuzzy-dingos-double.md
  src/__tests__/watch.test.tsx
  src/commands/watch.tsx
  src/hooks/useTemplateManager.ts
  src/lib/templateManager.ts
  src/utils/databaseConnection.ts
Due: format, lint

Retry
  .github/workflows/ci.yml
Due: none

Hmm?
  .github/workflows/ci.yml
Due: none

Maybe
  src/utils/databaseConnection.ts
Due: format, lint

Don't disconnect per template process
  src/lib/templateManager.ts
Due: format, lint

typecheck fix
  src/lib/templateManager.ts
Due: format, lint

fix: Various issues (#12)
  .changeset/funny-lemons-clean.md
  .changeset/fuzzy-dingos-double.md
  .changeset/yellow-moles-explode.md
  .github/workflows/ci.yml
  src/__tests__/watch.test.tsx
  src/commands/index.tsx
  src/commands/watch.tsx
  src/components/Quittable.tsx
  src/hooks/useTemplateManager.ts
  src/lib/templateManager.ts
  src/utils/databaseConnection.ts
Due: format, lint

fix: Remove registry-url
  .github/workflows/ci.yml
Due: none

Load templates created while `watch` is already running.
  .changeset/wise-fishes-kick.md
  package.json
  src/lib/templateManager.test.ts
  src/lib/templateManager.ts
Due: format, lint
