Repository t1mmen/srtd: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: ". ~/.nvm/nvm.sh\nif [ -f \".nvmrc\" ]; then\n  nvm use\n  ./node_modules/.bin/biome format --write {staged_files}\n  git add {staged_files}\nfi\n"

lint:
  run: ". ~/.nvm/nvm.sh\nif [ -f \".nvmrc\" ]; then\n  nvm use\n  # First try to fix errors automatically\n  ./node_modules/.bin/biome check --write {staged_files}\n  # If there are still unsafe fixes available, apply them if requested\n  if [ \"$APPLY_UNSAFE_FIXES\" = \"true\" ]; then\n    ./node_mod
  ...

feat(apply): add --json flag for machine-readable output
  src/__tests__/apply.test.ts
  src/commands/apply.ts
Due: format, lint

feat(build): add --json flag for machine-readable output
  src/__tests__/build.test.ts
  src/commands/build.ts
Due: format, lint

feat(watch): add --json flag for NDJSON streaming output
  src/__tests__/watch.test.ts
  src/commands/watch.ts
  src/output/index.ts
  src/output/ndjsonOutput.test.ts
  src/output/ndjsonOutput.ts
Due: format, lint

feat(register): add --json flag for machine-readable output
  src/__tests__/register.test.ts
  src/commands/register.ts
Due: format, lint

feat(promote): add --json flag for machine-readable output
  src/__tests__/promote.test.ts
  src/commands/promote.ts
Due: format, lint

feat(clear): add --json flag for machine-readable output
  src/__tests__/clear.test.ts
  src/commands/clear.ts
Due: format, lint

feat(init): add --json flag for machine-readable output
  src/__tests__/init.test.ts
  src/commands/init.ts
Due: format, lint

feat(output): handle fatal errors in JSON mode
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/watch.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/watch.ts
  src/output/ndjsonOutput.ts
Due: format, lint

refactor: address intensive review remarks
  .changeset/json-output-mode.md
  README.md
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/clear.ts
  src/commands/init.ts
  src/commands/promote.ts
  src/commands/register.ts
  src/output/index.ts
  src/output/jsonOutput.test.ts
  src/output/jsonOutput.ts
  src/output/ndjsonOutput.test.ts
  src/output/ndjsonOutput.ts
  src/output/output.ts
  src/services/Orchestrator.ts
  src/ui/types.ts
Due: format, lint

fix(register): use top-level error field for fatal errors in JSON mode
  src/__tests__/register.test.ts
  src/commands/register.ts
Due: format, lint

docs: slim down JSON output section in README
  README.md
Due: none

feat: add --json flag to all CLI commands for machine-readable output (#62)
  .changeset/json-output-mode.md
  README.md
  src/__tests__/apply.test.ts
  src/__tests__/build.test.ts
  src/__tests__/clear.test.ts
  src/__tests__/init.test.ts
  src/__tests__/promote.test.ts
  src/__tests__/register.test.ts
  src/__tests__/watch.test.ts
  src/commands/apply.ts
  src/commands/build.ts
  src/commands/clear.ts
  src/commands/init.ts
  src/commands/promote.ts
  src/commands/register.ts
  src/commands/watch.ts
  src/output/index.ts
  src/output/jsonOutput.test.ts
  src/output/jsonOutput.ts
  src/output/ndjsonOutput.test.ts
  src/output/ndjsonOutput.ts
  src/output/output.test.ts
  src/output/output.ts
  src/services/Orchestrator.ts
  src/ui/types.ts
  src/utils/resultTransformer.test.ts
  src/utils/resultTransformer.ts
Due: format, lint

feat: add Claude Code skill and rule for end-users
  .claude/rules/srtd.md
  .claude/skills/srtd-cli/SKILL.md
  README.md
Due: none

refactor: rewrite skill for LLM consumption, not human docs
  .claude/skills/srtd-cli/SKILL.md
Due: none

chore: remove test template and buildlog from sample directory
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/test.sql
Due: format

fix: address five-hat review findings
  .claude/rules/srtd.md
  .claude/skills/srtd-cli/SKILL.md
Due: none

fix: rule instructs to load srtd-cli skill for workflow context
  .claude/rules/srtd.md
Due: none

refactor: slim rule to bullet points, skill has all content
  .claude/rules/srtd.md
  .claude/skills/srtd-cli/SKILL.md
Due: none

refactor: slim skill to minimal nudges, remove SQL boilerplate
  .claude/skills/srtd-cli/SKILL.md
Due: none

fix: clarify apply vs build, add --json to apply
  .claude/skills/srtd-cli/SKILL.md
Due: none

feat: add Claude Code integration for end-users (#63)
  .claude/rules/srtd.md
  .claude/skills/srtd-cli/SKILL.md
  README.md
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/test.sql
Due: format

fix(doctor): prevent race condition in database connection timeout
  src/__tests__/doctorChecks.test.ts
  src/utils/doctorChecks.ts
Due: format, lint

fix(doctor): revert race condition fix that broke CI tests
  src/__tests__/doctorChecks.test.ts
  src/utils/doctorChecks.ts
Due: format, lint

chore: add example template for doctor E2E tests
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/test.sql
Due: format

fix(doctor): include error details in template count check
  src/utils/doctorChecks.ts
Due: format, lint

feat: add srtd doctor command for setup diagnostics (#60)
  .changeset/config-doctor.md
  readme-demo.gif
  readme-demo.tape
  src/__tests__/doctorChecks.test.ts
  src/__tests__/e2e/doctor.test.ts
  src/cli.ts
  src/commands/doctor.ts
  src/commands/menu.ts
  src/utils/doctorChecks.ts
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/test.sql
Due: format, lint

feat: redesign demo videos with storytelling approach
  .gitignore
  demo-templates/srtd_demo_get_user_email.sql
  readme-demo.gif
  readme-demo.tape
  readme-workflow-demo.tape
  scripts/record_demo.sh
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/srtd_demo_audit.sql
  supabase/migrations-templates/srtd_demo_greet.sql
  supabase/migrations-templates/srtd_demo_rls.sql
  supabase/migrations-templates/test.sql
  supabase/migrations/20241230164858_tmpl-test.sql
  supabase/migrations/20251230191156_srtd-srtd_demo_audit.sql
  supabase/migrations/20251230191157_srtd-srtd_demo_greet.sql
  supabase/migrations/20251230191158_srtd-srtd_demo_rls.sql
Due: format

fix: improve demo recordings
  readme-demo.gif
  readme-demo.tape
  readme-workflow-demo.gif
  readme-workflow-demo.tape
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/new_feature.sql
  supabase/migrations-templates/test.sql
  supabase/migrations/20251230191646_srtd-test.sql
  supabase/migrations/20251230191837_srtd-new_feature.sql
Due: format

fix: clean up demo state for reproducible recordings
  scripts/record_demo.sh
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/new_feature.sql
  supabase/migrations-templates/test.sql
  supabase/migrations/20251230191646_srtd-test.sql
  supabase/migrations/20251230191837_srtd-new_feature.sql
Due: format

fix: perfect demo recordings with frame-by-frame verification
  readme-demo.gif
  readme-workflow-demo.gif
  readme-workflow-demo.tape
Due: none

fix: consistent color semantics across CLI output
  .changeset/consistent-colors.md
  readme-demo.gif
  readme-workflow-demo.gif
  src/commands/watch.ts
  src/ui/resultsTable.ts
Due: format, lint

docs: add demo videos to README
  README.md
Due: none

fix: improve demo pacing, commentary, and resolution
  readme-demo.gif
  readme-demo.tape
  readme-workflow-demo.gif
  readme-workflow-demo.tape
Due: none

fix: add line breaks after commentary, vertical directory listings
  readme-demo.gif
  readme-demo.tape
  readme-workflow-demo.gif
  readme-workflow-demo.tape
Due: none

chore: simplify changeset description
  .changeset/consistent-colors.md
Due: none

feat: improved demo videos and consistent CLI colors (#64)
  .changeset/consistent-colors.md
  .gitignore
  README.md
  demo-templates/srtd_demo_get_user_email.sql
  readme-demo.gif
  readme-demo.tape
  readme-workflow-demo.gif
  readme-workflow-demo.tape
  scripts/record_demo.sh
  src/commands/watch.ts
  src/ui/resultsTable.ts
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations-templates/srtd_demo_audit.sql
  supabase/migrations-templates/srtd_demo_greet.sql
  supabase/migrations-templates/srtd_demo_rls.sql
  supabase/migrations-templates/test.sql
  supabase/migrations/20241230164858_tmpl-test.sql
  supabase/migrations/20251230191156_srtd-srtd_demo_audit.sql
  supabase/migrations/20251230191157_srtd-srtd_demo_greet.sql
  supabase/migrations/20251230191158_srtd-srtd_demo_rls.sql
Due: format, lint

docs: comprehensive README restructure with improved demos
  .gitignore
  README.md
  assets/demo.gif
  assets/watch-demo.gif
  assets/workflow-demo.gif
  readme-demo.gif
  readme-workflow-demo.gif
  scripts/demo.tape
  scripts/queue_template_edits.sh
  scripts/screenshot.tape
  scripts/watch-demo.tape
  scripts/workflow-demo.tape
  src/__tests__/watch.test.ts
  src/commands/watch.ts
  src/ui/resultsTable.ts
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations/20251231023252_srtd-srtd_demo_greet.sql
  supabase/migrations/20251231023406_srtd-experiment.sql
Due: format, lint

docs: comprehensive README restructure with improved demos (#65)
  .gitignore
  README.md
  assets/demo.gif
  assets/watch-demo.gif
  assets/workflow-demo.gif
  readme-demo.gif
  readme-workflow-demo.gif
  scripts/demo.tape
  scripts/queue_template_edits.sh
  scripts/screenshot.tape
  scripts/watch-demo.tape
  scripts/workflow-demo.tape
  src/__tests__/watch.test.ts
  src/commands/watch.ts
  src/ui/resultsTable.ts
  supabase/migrations-templates/.srtd.buildlog.json
  supabase/migrations/20251231023252_srtd-srtd_demo_greet.sql
  supabase/migrations/20251231023406_srtd-experiment.sql
Due: format, lint

fix: ensure demo recordings detect template changes
  README.md
  readme-demo.gif
  scripts/record_demo.sh
Due: none

feat: prepare 1.0.0 release with updated demo
  .changeset/one-point-oh.md
  readme-demo.gif
Due: none

Path conditions:
  format: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  lint: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx}
